FORMAT: 1A
HOST: https://api.teamleader.eu

# Teamleader API v2

This is the Teamleader API v2 documentation.

### users.list [GET /users.list]

Get a list of all users

+ Response 200 (application/json)

        [
            {
                "id":1,
                "name":"John Smith",
                "email":"john@teamleader.eu",
                "gsm":"+32412654321",
                "telephone":"+3291239843",
                "team_id":1,
                "title":"Sales",
                "active":1
            },
            {
                "id":2,
                "name":"Jane Doe",
                "email":"jane@teamleader.eu",
                "gsm":"+32412654322",
                "telephone":"3291239844",
                "team_id":1,
                "title":"Designer",
                "active":1
            }
        ]

### departments.list [GET /departments.list]

Get a list of all departments

+ Response 200 (application/json)

        [
            {
                "id":1,
                "name":"Sales"
            },
            {
                "id":2,
                "name":"Customer Support"
            }
        ]


### tags.list [GET /tags.list]

Get a list of all tags

+ Response 200 (application/json)

        {
            "1": "A Tag",
            "2": "Another Tag",
            "3": "Tagtastic"
        }

### segments.list [GET /segments.list]

Get a list of all segments

+ Parameters

    + object_type: `crm_companies` (enum[string], required)

        Pick one of the possible values.

        + Members
            + crm_companies
            + crm_contacts
            + crm_todos
            + crm_callbacks
            + crm_meetings
            + inv_invoices
            + inv_creditnotes
            + pro_projects
            + sale_sales
            + ticket_tickets


+ Response 200 (application/json)

        {
            "Medewerkers": [
                {
                    "id": "owner--1",
                    "name": "",
                    "num_matches": -1
                },
                {
                    "id": "owner-1",
                    "name": "John Smith",
                    "num_matches": -1
                }
            ],
            "Smart segments": []
        }

### contacts.list [GET /contacts.list]

Get a paginated list of contacts

+ Parameters

    + amount: `20` (number, required) - Amount of contacts you want returned, 1 to 100.
    + pageno: `0` (number, required) - The numerated page you want, starts at 0.

+ Response 200 (application/json)

        [
            {
                "id": 1,
                "forename": "John",
                "surname": "Doe",
                "street": "Central Ave",
                "number": "123",
                "zipcode": "90201",
                "city": "Cityville",
                "country": "BE",
                "website": "http://example.com",
                "email": "john@example.com",
                "gsm": "",
                "telephone": "",
                "fax": "",
                "gender": "M",
                "dob": -1,
                "language_code": "EN",
                "language_name": "Engels",
                "date_added": 1454604273,
                "date_edited": 1457009916,
                "status": "",
                "deleted": 0
            },
            {
                "id": 2,
                "forename": "Jane",
                "surname": "Smith",
                "street": "Central Ave",
                "number": "321",
                "zipcode": "90201",
                "city": "Cityville",
                "country": "BE",
                "website": "http://example.org",
                "email": "jane@example.org",
                "gsm": "",
                "telephone": "",
                "fax": "",
                "gender": "U",
                "dob": -1,
                "language_code": "EN",
                "language_name": "Engels",
                "date_added": 1454671709,
                "date_edited": 1454671709,
                "status": "",
                "deleted": 0
            }
        ]
