FORMAT: 1A
HOST: https://api.teamleader.eu/api

# Teamleader API v2

This is the Teamleader API v2 documentation.

## OAuth 2

OAuth 2 is an authorization framework that lets your integration request authorization to data in a user's Teamleader account without getting their password.

Before starting you will need to register your integration. Each registered integration is assigned a unique `client_id` and `client_secret` which will be used in the OAuth flow. Note that the `client_secret` key should not be shared.

### Authorization

Redirect users to the Teamleader authorization page:

`https://api.teamleader.eu/oauth2/authorize`

The following values should be passed as GET parameters:
 - `client_id` - issued when you create your integration
 - `response_type` - must be "code"
 - `state` - unique string to be passed back upon completion (optional)
 - `redirect_uri` - URL to redirect back to after authorization

### Token issuing

If the user authorizes your integration, Teamleader will redirect back to the previously specified `redirect_uri` with a temporary authorization code and the original state parameter if it was provided. If the states don't match, the request may have been created by a third party and you should abort the process.

`https://YOUR_REDIRECT_URI/?code=CODE&state=STATE`

Your server can exchange this authorization code for an access token. Note that authorization codes may only be exchanged once and expire 10 minutes after issuance.

`https://api.teamleader.eu/oauth2/access_token`

The following values should be passed as POST parameters:
 - `client_id` - issued when you register your integration
 - `client_secret` - issued when you register your integration
 - `code` - the authorization code
 - `grant_type` - must be "authorization_code"
 - `redirect_uri` - the original submitted redirect URL

You will receive a JSON response containing an `access_token` and `refresh_token`:

```
{
    "token_type": "Bearer",
    "expires_in": 3600,
    "access_token": ACCESS_TOKEN,
    "refresh_token": REFRESH_TOKEN
}
```

You can use this access token to call API methods on behalf of the user using the Authorization-header. Example:

	GET https://api.teamleader.eu/contacts.list HTTP/1.1
	Authorization: Bearer eyJ0eXAiOiJKV1QiLCJhbGciO...
	Accept: application/json

The access token will continue functioning until the installing user either revokes the token and/or uninstalls your integration.

### Refresh tokens

Access tokens expire shortly (1 hour) after they are issued for security reasons. If your integration needs to communicate with the API beyond the access token's lifespan you will need to request a new access token using the refresh token which was issued with the access token. Note that refresh tokens can only used once to get a new access token and refresh token.

`https://api.teamleader.eu/oauth2/access_token`

The following values should be passed as POST parameters:
 - `client_id` - issued when you register your integration
 - `client_secret` - issued when you register your integration
 - `refresh_token` - the refresh token
 - `grant_type` - must be "refresh_token"

## General [/]

### /users.list [GET /users.list]

Get a list of all users

+ Response 200 (application/json)

    + Attributes (object)
        + data (array[User])

### /departments.list [GET /departments.list]

Get a list of all departments

+ Response 200 (application/json)

    + Attributes (object)
        + data (array[Department])


### tags.list [GET /tags.list]

Get a list of all tags

+ Response 200 (application/json)

    + Attributes (object)
        + data (array[Tag])

### /segments.list [GET /segments.list]

Get a list of all segments

+ Request (application/json)

    + Attributes (object)
        + `object_type`: `crm_companies` (enum[string], required)

            Pick one of the possible values.

            + Members
                + crm_companies
                + crm_contacts
                + crm_todos
                + crm_callbacks
                + crm_meetings
                + inv_invoices
                + inv_creditnotes
                + pro_projects
                + sale_sales
                + ticket_tickets

+ Response 200 (application/json)

        {
            "Medewerkers": [
                {
                    "id": "owner--1",
                    "name": "",
                    "num_matches": -1
                },
                {
                    "id": "owner-1",
                    "name": "John Smith",
                    "num_matches": -1
                }
            ],
            "Smart segments": []
        }

## Contacts [/contacts]

### /contacts.list [GET /contacts.list{?amount,pageno,company_id}]

Get a paginated list of contacts

+ Parameters

    + amount: `20` (number, optional) - Amount of contacts you want returned, 1 to 100.
        + Default: `20`
    + pageno: `0` (number, optional) - The numerated page you want, starts at 0.
        + Default: `0`
    + company_id: `1` (number, optional) - Filter contacts by a certain company.

+ Response 200 (application/json)

    + Attributes (object)
        + data (array[Contact])

### /contacts.info [GET /contacts.info]

Get the details for a single contact

+ Request (application/json)

    + Attributes (object)
        + `contact_id`: `1` (number, required)

+ Response 200 (application/json)

    + Attributes (object)
        + data (Contact)

### /contacts.create [POST /contacts.create]

Add a contact to Teamleader

+ Request (application/json)

    + Attributes (object)
        + forename: `John` (string, required) - The given name of the new contact
        + surname: `Smith` (string, required) - The surname of the new contact
        + email: `john@example.com` (string, required) - The email address of the new contact
        + salutation: `Mr` (string, optional)
        + telephone: `1234567` (string, optional)
        + gsm: `7654321` (string, optional)
        + website: `http://example.com` (string, optional)
        + country: `BE` (string, optional) - Country code according to ISO 3166-1 alpha-2. For Belgium: "BE"
        + zipcode: `90201` (string, optional)
        + city: `Cityville` (string, optional)
        + street: `Central Ave` (string, optional)
        + number: `1` (string, optional)
        + address_name_delivery: `Delivery` (string, optional)
        + zipcode_delivery: `90202` (string, optional)
        + city_delivery: `Citytown` (string, optional)
        + street_delivery: `Central Sq` (string, optional)
        + number_delivery: `1` (string, optional)
        + address_name_visiting: `Visiting` (string, optional)
        + zipcode_visiting: `90203` (string, optional)
        + city_visiting: `VilleCity` (string, optional)
        + street_visiting: `Central Str` (string, optional)
        + number_visiting: `1` (string, optional)
        + address_name_invoicing: `Invoicing` (string, optional)
        + zipcode_invoicing: `90204` (string, optional)
        + city_invoicing: `TownCity` (string, optional)
        + street_invoicing: `Central Rd` (string, optional)
        + number_invoicing: `1` (string, optional)
        + invoice_email_address: `invoicing@example.com` (string, optional)
        + language: `EN` (string, optional) - Language code according to ISO 639-1. For Dutch: "NL"
        + gender: `M` (enum[string], optional)
            + Members
                + M
                + F
                + U
        + dob: `1454604273` (number, optional) - Unix timestamp
        + description: `Met at expo` (string, optional) - Background information on the contact
        + newsletter: `true` (boolean, optional)
        + add_tag_by_string: `expo upsell` (string, optional) - Pass one or more tags, comma-separated. Existing tags will be reused, other tags will be automatically created for you.
        + automerge_by_name: `true` (boolean, optional)
            If this flag is set to 1, Teamleader will merge this info into an existing contact with the same forename and surname, if it finds any.
            + Default: `false`
        + automerge_by_email: `true` (boolean, optional)
            If this flag is set to 1, Teamleader will merge this info into an existing contact with the same email address, if it finds any.
            + Default: `false`
        + custom_field_ID: `bar` (string, optional) - Replace ID by the ID of your custom field. (eg custom_field_310)
        + tracking string: `foo` (string, optional) - Title of the activity
        + tracking_long: `foobar` (string, optional) - Description of the activity

+ Response 201 (application/json)

    + Attributes
        + data (object)
            + id: `1` (number)

### /contacts.update [POST /contacts.update]

Update a Teamleader contact

+ Request (application/json)

    + Attributes (object)
        + contact_id: `1` (number, required) - The ID of the contact you want to update
        + track_changes: `1` (number, required) - If set to 1, all changes are logged and visible to users in the web-interface
        + forename: `John` (string) - The given name of the new contact
        + surname: `Smith` (string) - The surname of the new contact
        + email: `john@example.com` (string, required) - The email address of the new contact
        + telephone: `1234567` (string, optional)
        + gsm: `7654321` (string, optional)
        + fax: `7654321` (string, optional)
        + website: `http://example.com` (string, optional)
        + country: `BE` (string, optional) - Country code according to ISO 3166-1 alpha-2. For Belgium: "BE"
        + zipcode: `90201` (string, optional)
        + city: `Cityville` (string, optional)
        + street: `Central Ave` (string, optional)
        + number: `1` (string, optional)
        + language: `EN` (string, optional) - Language code according to ISO 639-1. For Dutch: "NL"
        + gender: `M` (enum[string], optional)
            + Members
                + M
                + F
                + U
        + dob: `1454604273` (number, optional) - Unix timestamp
        + description: `Met at expo` (string, optional) - Background information on the contact
        + linked_company_ids: `1,2` (string, optional) - Comma-separated list of company IDs that should be linked to this contact. (overwrites existing links)
        + add_tag_by_string: `expo upsell` (string, optional) - Pass one or more tags, comma-separated. Existing tags will be reused, other tags will be automatically created for you.
        + remove_tag_by_string: `upsell` (string, optional) - Pass one or more tags, comma-separated. These tags will be removed from the contact.
        + custom_field_ID: `bar` (string, optional) - Replace ID by the ID of your custom field. (eg custom_field_310)

+ Response 204

### /contacts.delete [POST /contacts.delete]

Delete a contact from Teamleader

+ Request (application/json)

    + Attributes (object)
        + contact_ID: `1` (number, required) - The account ID of the contact you wish to delete

+ Response 204

### /contacts.linkToCompany [POST /contacts.linkToCompany]

Linking a contact to a company

+ Request (application/json)

    + Attributes (object)
        + contact_id: `123` (number, required) - The ID of a contact
        + company_id: `5` (number, required) - The ID of a company

+ Response 204

### /contacts.unlinkFromCompany [POST /contacts.unlinkFromCompany]

Unlinking a contact from a company

+ Request (application/json)

    + Attributes (object)
        + contact_id: `123` (number, required) - The ID of a contact
        + company_id: `5` (number, required) - The ID of a company

+ Response 204

## Companies [/companies]

### /companies.list [GET /companies.list]

Search companies

+ Request (application/json)

    + Attributes (object)
        + amount: `20` (number, optional) - The amount of contacts returned per request, max 1 to 100
            + Default: `20`
        + pageno: `0` (number, optional) - The current page, the first page is 0
            + Default: `20`
        + searchby: `teamleader` (string, optional) - A search string. Teamleader will try to match each part of the string to the forename, surname, company name and email address.
        + modifiedsince: `1454604273` (number, optional) - Unix timestamp. Teamleader will only return contacts that have been added or modified since that timestamp.
        + filter_by_tag: `upsell` (string, optional) - Company tag. Teamleader will only return companies that have the tag.
        + segment_id: `4` (number, optional) - The ID of a segment created for contacts. Teamleader will only return contacts that have been filtered out by the segment settings.
        + selected_customfields: `` (string, optional) - Comma-separated list of the IDs of the custom fields you wish to select (max 10).

+ Response 200 (application/json)

    + Attributes (object)
        + data (array[Company])

### /companies.info [GET /companies.info]

Get company info

+ Request (application/json)

    + Attributes (object)
        + company_id: 123 (number)

+ Response 200 (application/json)

    + Attributes (object)
        + data (Company)

### /companies.create [POST /companies.create]

Add a Teamleader company

+ Request (application/json)

    + Attributes (object)
        + name: `1` (string, required)
        + email: `john@example.com` (string, required) - The email address of the new contact
        + vat_code: `Mr` (string, optional)
        + telephone: `1234567` (string, optional)
        + country: `7654321` (string, optional)
        + zipcode: `90201` (string, optional)
        + city: `Cityville` (string, optional)
        + street: `Central Ave` (string, optional)
        + number: `1` (string, optional)
        + address_name_delivery: `Delivery` (string, optional)
        + zipcode_delivery: `90202` (string, optional)
        + city_delivery: `Citytown` (string, optional)
        + street_delivery: `Central Sq` (string, optional)
        + number_delivery: `1` (string, optional)
        + address_name_visiting: `Visiting` (string, optional)
        + zipcode_visiting: `90203` (string, optional)
        + city_visiting: `VilleCity` (string, optional)
        + street_visiting: `Central Str` (string, optional)
        + number_visiting: `1` (string, optional)
        + address_name_invoicing: `Invoicing` (string, optional)
        + zipcode_invoicing: `90204` (string, optional)
        + city_invoicing: `TownCity` (string, optional)
        + street_invoicing: `Central Rd` (string, optional)
        + number_invoicing: `1` (string, optional)
        + invoice_email_address: `invoicing@example.com` (string, optional)
        + website: `http://example.com` (string, optional)
        + description: `Met at expo` (string, optional) - Background information on the contact
        + account_manager_id: `1` (number, optional)
        + local_business_number: `BE0123.123.123` (string, optional) - the local business number (KVK in the Netherlands)
        + business_type: `NV` (string, optional) - containing the company type (eg NV, BVBA,..)
        + language: `EN` (string, optional) - Language code according to ISO 639-1. For Dutch: "NL"
        + add_tag_by_string: `expo upsell` (string, optional) - Pass one or more tags, comma-separated. Existing tags will be reused, other tags will be automatically created for you.
        + automerge_by_name: `true` (boolean, optional)
            If this flag is set to 1, Teamleader will merge this info into an existing contact with the same forename and surname, if it finds any.
            + Default: `false`
        + automerge_by_email: `true` (boolean, optional)
            If this flag is set to 1, Teamleader will merge this info into an existing contact with the same email address, if it finds any.
            + Default: `false`
        + custom_field_ID: `bar` (string, optional) - Replace ID by the ID of your custom field. (eg custom_field_310)

+ Response 201 (application/json)

    + Attributes
        + data (object)
            + id: `1` (number)

### /companies.update [POST /companies.update]

Update a Teamleader company

+ Request (application/json)

    + Attributes (object)
        + company_id: `1` (number, required) - The ID of the contact you want to update
        + track_changes: `1` (number, required) - If set to 1, all changes are logged and visible to users in the web-interface
        + name: `1` (string, required)
        + email: `john@example.com` (string, required) - The email address of the new contact
        + vat_code: `Mr` (string, optional)
        + telephone: `1234567` (string, optional)
        + fax: `7654321` (string, optional)
        + country: `7654321` (string, optional)
        + zipcode: `90201` (string, optional)
        + city: `Cityville` (string, optional)
        + street: `Central Ave` (string, optional)
        + number: `1` (string, optional)
        + invoice_email_address: `invoicing@example.com` (string, optional)
        + website: `http://example.com` (string, optional)
        + description: `Met at expo` (string, optional) - Background information on the contact
        + account_manager_id: `1` (number, optional)
        + local_business_number: `BE0123.123.123` (string, optional) - the local business number (KVK in the Netherlands)
        + business_type: `NV` (string, optional) - containing the company type (eg NV, BVBA,..)
        + language: `EN` (string, optional) - Language code according to ISO 639-1. For Dutch: "NL"
        + add_tag_by_string: `expo upsell` (string, optional) - Pass one or more tags, comma-separated. Existing tags will be reused, other tags will be automatically created for you.
        + remove_tag_by_string: `upsell` (string, optional) - Pass one or more tags, comma-separated. These tags will be removed from the contact.
        + custom_field_ID: `bar` (string, optional) - Replace ID by the ID of your custom field. (eg custom_field_310)

+ Response 204

### /companies.delete [POST /companies.delete]

Delete a company from Teamleader

+ Request (application/json)

    + Attributes (object)
        + company_id: `1` (number, required) - The account ID of the company you wish to delete

+ Response 204

### /businessTypes.list [GET /businessTypes.list]

Get the names of business types (legal structures) a company can have within a certain country.

+ Request (application/json)

    + Attributes (object)
        + country: BE (string) -  country code according to ISO 3166-1 alpha-2. For Belgium: "BE"

+ Response 200 (application/json)

    + Attributes (object)
        + data (array, fixed)
            + (object)
                + name: `BVBA` (string)

## Deals [/deals]

### /deals.create [POST /deals.create]

Add a deal for a contact or company.

+ Request (application/json)

    + Attributes (object)
        + contact_or_company: `company` (enum[string], required) - Who is related to this deal?
            + Members
                + company
                + contact
        + contact_or_company_id: `1` (number, required) - ID of the related contact or company
        + title: `Interesting business deal` (string, required)
        + source: `Google Adwords` (string, required)
        + description_1: `Search module` (string, required)
        + price_1: `5` (number, required)
        + amount_1: `1` (number, required)
        + vat_1: `21` (enum[string], required) - The vat tariff for this line
            + Members
                + 00
                + 06
                + 12
                + 21
                + CM
                + EX
                + MC
                + VCMD
        + product_id_1: `1` (number, optional) - ID of the product
        + account_1: `1` (number, optional) - ID of the bookkeeping account
        + subtitle_1: `Enable search` (string, optional)
        + custom_field_ID: `1` (number, optional) - replace ID by the ID of your custom field.
        + sys_department_id: `1` (number, optional) - ID of the department the deal will be added to
        + responsible_sys_client_id: `1` (number, optional) - ID of the user that is responsible for this deal
        + phase_id: `1` (number, optional) - new phase ID this deal should be moved to
        + description: `1` (string, optional) - If this parameter is filled out a quotation (PDF) is generated by Teamleader using the text provided and the items. The PDF is accessible via the web interface.
        + budget_estimation: `10` (number, optional) - budget estimation for this deal. This value will be overwritten once a quotation is made for this deal
        + optional_contact_id: `1` (number, optional) - if this deal is related to a company, you can specify the ID of a related contact within that company via this parameter
        + filter_double_sales: `0` (number, optional) - if set to 1, an extra check added to make sure the deal isn't a double of the previous one.'

+ Response 201 (application/json)

    + Attributes
        + data (object)
            + id: `1` (number)

### /deals.update [POST /deals.update]

Update a deal

+ Request (application/json)

    + Attributes (object)
        + deal_id: `1` (number, required) - Who is related to this deal?
        + description_1: `Search module` (string, required)
        + price_1: `5` (number, required)
        + amount_1: `1` (number, required)
        + vat_1: `21` (enum[string], required) - The vat tariff for this line
            + Members
                + 00
                + 06
                + 12
                + 21
                + CM
                + EX
                + MC
                + VCMD
        + product_id_1: `1` (number, optional) - ID of the product
        + account_1: `1` (number, optional) - ID of the bookkeeping account
        + subtitle_1: `Enable search` (string, optional)

+ Response 204

### /deals.items.update [POST /deals.items.update]

Update a deal's items

+ Request (application/json)

    + Attributes (object)
        + deal_id: `1` (number, required) - Who is related to this deal?
        + title: `Interesting business deal` (string, optional)
        + source: `Google Adwords` (string, optional)
        + responsible_sys_client_id: `1` (number, optional) - ID of the user that is responsible for this deal
        + phase_id: `1` (number, optional) - new phase ID this deal should be moved to
        + budget_estimation: `10` (number, optional) - budget estimation for this deal. This value will be overwritten once a quotation is made for this deal
        + custom_field_ID: `1` (number, optional) - replace ID by the ID of your custom field.

+ Response 204

### /deals.quotation.emailToClient [POST /deals.quotation.emailToClient]

Send a deal's quotation via email to a client

+ Request (application/json)

    + Attributes (object)
        + sale_id: `1` (number, required) - ID of the deal
        + email: `john@example.com` (string, required) - Email of the client
        + subject: `1` (number, required) - Subject of the email
        + message: `1` (number, required) -  Add <link> to the message to print out the InvoiceCloud link. (not required when using an email template, leave empty or discard from request when using template_id)
        + template_id: `1` (number, optional) - ID of the email message created in Teamleader.

+ Response 204

### /deals.list [GET /deals.list]

Get a list of all deals

+ Request (application/json)

    + Attributes (object)
        + amount: `10` (number, optional) - Amount of results you want
            + Default: `20`
        + pageno: `0` (number, optional) - Page of results you want
            + Default: `0`
        + searchby: `Teamleader` (string, optional) - A search string. Teamleader will try to search deals matching this string.
        + selected_customfields: `42,142` (string, optional) - Comma-separated list of the IDs of the custom fields you wish to select (max 10).
        + filter_by_phase_id: `5` (string, optional) - Only return deals with this phase ID
        + segment_id: `1` (string, optional) - The ID of a segment created for deals.

+ Response 200 (application/json)

    + Attributes (object)
        + data (array[Deal])

### /deals.byContact [GET /deals.byContact]

Get a list of all deals by contact

+ Request (application/json)

    + Attributes (object)
        + contact_id: `1` (number, required) - ID of the related contact

+ Response 200 (application/json)

    + Attributes (object)
        + data (array[DealPhase])

### /deals.byCompany [GET /deals.byCompany]

Get a list of all deals by company

+ Request (application/json)

    + Attributes (object)
        + company_id: `1` (number, required) - ID of the related company

+ Response 200 (application/json)

    + Attributes (object)
        + data (array[DealPhase])

### /deals.byProject [GET /deals.byProject]

Get a list of all deals by project

+ Request (application/json)

    + Attributes (object)
        + project_id: `1` (number, required) - ID of the project

+ Response 200 (application/json)

    + Attributes (object)
        + data (array)
            + (object)
                + deal_id: 1 (number)

### /deals.info [GET /deals.info]

Get deal details

+ Request (application/json)

    + Attributes (object)
        + deal_id: `1` (number, required) - ID of the deal you want

+ Response 200 (application/json)

    + Attributes (object)
        + data (Deal)

### /deals.phases.changes [GET /deals.phases.changes]

Get a list of a deal phase changes

+ Request (application/json)

    + Attributes (object)
        + deal_id: `1` (number, required) - ID of the deal you want

+ Response 200 (application/json)

    + Attributes (object)
        + data (object)
            + old_phase_id: 1 (number)
            + new_phase_id: 2 (number)
            + change_date: 1492074106 (number)
            + change_date_formatted: `13/04/2017` (string)
            + related_user_id: 1 (number)

### /deals.phases.list [GET /deals.phases.list]

Get a list of all phases a deal can go through

+ Response 200 (application/json)

    + Attributes (object)
        + data (array)
            + (object)
                + id: 1 (number)
                + name: `New` (string)

### /deals.sources.list [GET /deals.sources.list]

Get a list of all deal sources

+ Response 200 (application/json)

    + Attributes (object)
        + data (array)
            + (object)
                + id: 1 (number)
                + name: `Google Search` (string)

## Invoices [/invoices]

### /invoices.list [GET /invoices.list]

Search invoices

+ Request (application/json)

    + Attributes (object)
        + date_from: `01/01/2017` (string, required) - Format: dd/mm/yyyy
        + date_to: `31/12/2017` (string, required) - Format: dd/mm/yyyy
        + contact_or_company: `contact` (enum[string], optional) - Use this to filter by client
            + Members
                + contact
                + company
        + contact_or_company_id: `1` (number, optional) - ID of the contact or company
        + deep_search: `1` (number, optional) Pass 1 to return not just invoices related to the requested contact, but also to invoices related to linked companies
        + selected_customfields: `1,2` (string, optional) - comma-separated list of the IDs of the custom fields you wish to select (max 10).
        + project_id: `1` (number, optional) - The ID of the project you wish to filter by. If this parameter is set, all of the above are ignored.
        + include_draft_invoices: `1` (number, optional) -  Set this parameter to 1 to include draft invoices. Only works in conjunction with `project_id`
            + Default: `0`

+ Response 200 (application/json)

    + Attributes (object)
        data (array[Invoice])

### /creditNotes.list [GET /creditNotes.list]

Search creditnotes

+ Request (application/json)

    + Attributes (object)
        + `date_from`: `01/01/2017` (string, required) - Format: dd/mm/yyyy
        + `date_to`: `31/12/2017` (string, required) - Format: dd/mm/yyyy
        + contact_or_company: `contact` (enum[string], optional) - Use this to filter by client
            + Members
                + contact
                + company
        + contact_or_company_id: `1` (number, optional) - ID of the contact or company
        + deep_search: `1` (number, optional) Pass 1 to return not just invoices related to the requested contact, but also to invoices related to linked companies
        + project_id: `1` (number, optional) - The ID of the project you wish to filter by. If this parameter is set, all the others are ignored.

+ Response 200 (application/json)

    + Attributes (array[CreditNote])

## Files [/files]

### /files.list [GET /files.list]

Get a list of all files relating to an object

+ Request (application/json)

    + Attributes (object)
        + amount: `20` (number, required) - The amount of contacts returned per request, max 1 to 100
        + pageno: `0` (number, required) - The current page, the first page is 0
        + object_type: `contact` (enum[string], required) - The type of object
            + Members
                + contact
                + company
                + sale
                + ticket
                + project
                + meeting
        + object_id: `1` (number, required) - ID of the object
        + folder_name: `cat_pictures` (string, optional) - the folder name of which the contents should be displayed

+ Response 200 (application/json)

    + Attributes (object)
        + data (array)
            + (object)
                + id: `101` (number)
                + filename: `cat.bmp` (string)
                + date_last_edited: `1492673227` (number)
                + filesize_bytes: `256` (number)

### /files.info [GET /files.info]

Get a info about a specific file

+ Request (application/json)

    + Attributes (object)
        + file_id: `20` (number, required) - The file's ID

+ Response 200 (application/json)

    + Attributes (object)
        + data (object)
            + filename: `cat.bmp` (string)
            + filesize_bytes: `256` (number)
            + uploader_client_id: `1` (number)
            + related_object_type: `contact (`string`)
            + related_object_id: `1` (number)
            + folder: `pics (`string`)
            + date_last_edited: `1492673227` (number)
            + date_last_edited_formatted: `20/04/2017` (string)

### /files.download [GET /files.download]

Get a signed URL where the file can be downloaded. The signed URL will remaing valid for 30 seconds.

+ Request (application/json)

    + Attributes (object)
        + file_id: `20` (number, required) - The file's ID

+ Response 200 (application/json)

    + Attributes (object)
        + data (object)
            + signed_download_url: `http://example.com/cat.bmp` (string)

### /files.upload [POST /files.upload]

Get a signed URL where the file can be downloaded. The signed URL will remaing valid for 30 seconds.

+ Request (application/json)

    + Attributes (object)
        + object_type: `contact` (enum[string], required) - The type of object
            + Members
                + contact
                + company
                + sale
                + ticket
                + project
                + meeting
        + object_id: `1` (number, required) - ID of the object
        + file_content: `TG9yZW0gSXBzdW0gaXMgc2ltcGx5IGR1bW15IHRleHQgb2YgdGhlIHByaW50aW5nIGFuZCB0eXBlc2V0dGluZyBpbmR1c3RyeS4=` (string, required) - Base64 encoded version the file
        + file_name: `cat.bmp` (string, required) - Name of the file, including extension
        + folder_name: `cat_pictures` (string, optional) - the folder name of which the contents should be displayed

+ Response 200 (application/json)

    + Attributes (object)
        + data (object)
            + id: `123` (number)

### /files.delete [POST /files.delete]

Delete a file

+ Request (application/json)

    + Attributes (object)
        + file_id: `20` (number, required) - The file's ID

+ Response 204

# Data Structures

## User (object)
id: 1 (number)
name: `John Smith` (string)
email: `john@teamleader.eu` (string)
gsm: `+32412654321` (string)
telephone: `+3291239843` (string)
team_id: 1 (number)
title: Sales (string)
active: 1 (number)

## Department (object)
id: 1 (number)
name: `Sales` (string)

## Tag (object)
id: 1 (number)
name: `A Tag` (string)

## Contact (object)
+ id: 456 (number)
+ forename: Erlich (string)
+ surname: Bachman (string)
+ street: Newell Road (string)
+ number: 5230 (string)
+ zipcode: 94020 (string)
+ city: Palo Alto (string)
+ country: US (string)
+ website: https://piedpiper.com (string)
+ email: info@piedpiper.eu (string)
+ gsm (string)
+ telephone: 09 298 06 15 (string)
+ fax (string)
+ gender: M (enum[string])
    + Members
        + M
        + F
        + U
+ birthdate: 1491480887 (number)
+ iban (string)
+ bic (string)
+ tags: [tag1,tag2] (array[string])
+ language_code: EN (string)
+ date_added: 1491480887 (number)
+ extra_addresses (array[string])
+ deleted: 0 (number)
+ custom_fields (object)
+ linked_company_ids (string)
+ linked_company_names (array[string])
+ linked_company_functions (string)
+ background_info_html (string)
+ external_customer_id (string)

## Company (object)
+ id: 123 (number)
+ name: Pied Piper (string)
+ street: Newell Road (string)
+ number: 5230 (string)
+ zipcode: 94020 (string)
+ city: Palo Alto (string)
+ country: US (string)
+ taxcode: BE 0899.623.035 (string)
+ kvk_nummer (string)
+ local_business_number (string)
+ email: info@piedpiper.eu (string)
+ website: https://piedpiper.com (string)
+ telephone: 09 298 06 15 (string)
+ fax (string)
+ iban (string)
+ bic (string)
+ pricelist_id: 9 (number)
+ account_manager_id (number)
+ date_added: 1456388372 (number)
+ tags: [tag1,tag2] (array[string])
+ language_code: NL (string)
+ business_type: NV (string)
+ vat_liability: vat_liable (string)
+ sector_name (string)
+ invoice_email_address (string)
+ payment_term (string)
+ extra_addresses (array[string])
+ background_info_html (string)
+ related_companies (string)
+ deleted: 0 (number)
+ custom_fields (object)
+ external_customer_id (string)

## DealPhase (object)
+ deal_id: 1 (number)
+ phase_id: 5 (number)

## Invoice (object)
+ id: 173111 (number)
+ invoice_nr: 5 (number)
+ invoice_nr_detailed: `2017 / 5 (MAIN)` (string)
+ date: 1491343199 (number)
+ date_formatted: "04/04/2017" (string)
+ due_date: 1493157599 (number)
+ due_date_formatted: "25/04/2017" (string)
+ date_paid: `-1` (number)
+ paid: 0 (number)
+ total_price_excl_vat: "123.00" (string)
+ total_price_incl_vat: "130.38" (string)
+ name: "De Rode Duivles" (string)
+ for_attention_of: "Radja Nainggolan" (string)
+ incasso_recall_costs: "0.00" (string)
+ incasso_interest_amount: "0.00" (string)
+ structured_communication: "+++000/1731/11048+++" (string)
+ contact_or_company: "company" (string)
+ contact_or_company_id: 485906 (number)

## CreditNote (object)
+ id: 173111 (number)
+ creditnote_nr: 5 (number)
+ creditnote_nr_detailed: `2017 / 5 (MAIN)` (string)
+ date: 1491343199 (number)
+ date_formatted: "04/04/2017" (string)
+ date_paid: `-1` (number)
+ paid: 0 (number)
+ total_price_excl_vat: "123.00" (string)
+ total_price_incl_vat: "130.38" (string)
+ name: "De Rode Duivles" (string)
+ contact_or_company: "company" (string)
+ contact_or_company_id: 485906 (number)
+ related_invoice_id: 173111 (number)

## Deal (object)
+ id: 164938 (number)
+ title: `Interesting deal` (string)
+ for: contact (string)
+ for_id: 1176793 (number)
+ customer_name: `John`,
+ quotation_nr: 21 (number)
+ total_price_excl_vat: `0.00` (string)
+ probability: 5 (number)
+ phase_id: 5 (number)
+ responsible_user_id: `-1` (number)
+ entry_date: 1487250618 (number)
+ entry_date_formatted: 16/02/2017 (string)
+ latest_activity_date: 1487250618 (number)
+ latest_activity_date_formatted: 16/02/2017 (string)
+ close_date: 1487250618 (number)
+ close_date_formatted: 16/02/2017 (string)
+ date_lost: 1487250618 (number)
+ date_lost_formatted: 16/02/2017 (string)
+ reason_refused: `No interest` (string)
+ source_id: `8799` (number)
